.black-friday {}

.black-friday h2 {
    background-color: #22211f;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding-top: 4px;
}

.black-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.black-grid-div {
    position: relative;
}

.div20 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    width: 80%;

}

.div20 p {
    color: white;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.4;
}

.off-20 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.span-flex {
    border-top: 8px solid white;
    padding-top: 5px;
    margin-bottom: -20px;

}

.off-20 b {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 4px;
}

.span-flex {
    display: flex;
    flex-direction: column;
}

.border-code {
    border: 1px solid white;
    padding: 2px;
    margin-top: 5px;
}

.div20 p:last-child {
    font-size: 11px;
    margin-top: 5px;
}

.black-friday .sale-small {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 7px;
    padding-bottom: 5px;

}


.black-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.black-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.black-prod {
    background-blend-mode: multiply;
}

.black-product {
    background-color: #2192ca;
}


.black-product {
    position: relative;
}

.black-product img {
    position: absolute;
    top: 40%;
    left: 100%;
    right: -5%;
    transform: translate(-50%, -50%);

}

.black-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.black-product p {
    color: white;
    margin-bottom: 15px;
}

.black-product a {
    background-color: #f54401;
    color: white;
    text-transform: uppercase;
    padding: 5px 13px;
    margin-top: 35px;
    font-weight: 700;
    border: unset;
    font-size: 20px;
    border-radius: 9px;
}

.black-product div {
    z-index: 1;
}

/* hurry-up */

.hurry-up {
    z-index: -1;

    position: relative;
}

.hurry-up div {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 85%;

}

.hurry-up div p {
    color: white;
    text-transform: uppercase;
}

.alert{
    width: 30px;
    margin-bottom: 5px;
}
.desktop{
    display: none;

}
.mobile500 {
    display: none;
}

.mobile650 {
    display: none;
}
.mobile994 {
    display: none;
}
.mobile1200{
    display: none;
}
.mobile1400{
    display: none;
}
@media only screen and (min-width: 414px) {
    .black-friday .sale-small {
        font-size: 14px;
    }

}

@media only screen and (min-width: 500px) {
    .div20 p {
        color: white;
        font-weight: 200;
        font-size: 16px;
    }

    .black-product p {
        font-size: 20px;
        margin-bottom: 18px;

    }

    .black-product a {
        font-size: 22px;
    }

    .hurry-up div p {
        font-size: 20px;
    }

    .hurry-up div {
        position: absolute;
        top: 83%;
    }

    .mobile500 {
        display: block;
    }
}

@media only screen and (min-width: 650px) {
    .mobile650 {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .desktop{
        display: block;
    
    }
    .mobile{
        display: none;
    
    }
    .prod{
        width: 40%;
    }
    .black-product img {
        position: absolute;
        top: 2%;
        left: 100%;
        right: -5%;
        transform: translate(-50%, -50%);
    }

    .hurry-up div {
        position: absolute;
        top: 63%;
    }

    .hurry-up div p {
        font-size: 18px;
    }

    .off-20 b {
        font-size: 38px;
    }
    .span-flex {
        border-top: 5px solid white; 
    }
    .div20 p { 
        font-size: 12px;
    }
    .div20 { 
        width: 40%;
    }
    .div20 p:last-child { 
        margin-top: 3px;
    }
    .off-20 b { 
        padding-top: 0;
    }
    .black-grid-div{
        background-color: #2192ca;
    }
    .black-product p {
        font-size: 17px;
        margin-bottom: 14px;
    }

    .black-product a {
        font-size: 18px;
    }

}


@media only screen and (min-width: 994px) {
    .div20 p {
        font-size: 16px;
    }
    .div20 p:last-child {
        font-size: 13px;
    }
    .off-20 b {
        font-size: 55px;
    }
    .span-flex {
        border-top: 8px solid white;
    }
    .div20 {
        position: absolute;
        top: 50%;
        left: 40%;
    }
    .black-product div {
        margin-left: 100px;
    }
    .hurry-up div {
        position: absolute;
        top: 50%;
        left: 40%;
    }
    .mobile994{
        display: block;
    }
    .prod {
        width: 45%;
    }
    .black-product img {
        position: absolute;
        top: -11%;
    }
}


@media only screen and (min-width: 1200px) {
    .prod {
        width: 40%;
    }
    .black-product img {
        position: absolute;
        top: 2%;
    }
    .mobile1200{
        display: block;
    }
}


@media only screen and (min-width: 1400px) {
    .mobile1400{
        display: block;
    }

}


@media only screen and (min-width: 1600px) {
    .black-product p {
        font-size: 25px;
        margin-bottom: 16px;
    }
    .black-product a {
        font-size: 30px;
    }
    .black-product div {
        margin-left: 150px;
    }
    .div20 {
        width: 28%;
    }
    .off-20 b {
        font-size: 80px;
    }
    .div20 p {
        font-size: 22px;
    }
    .div20 p:last-child {
        margin-top: 13px;
    }
    .hurry-up div p {
        font-size: 26px;
    }
    .alert {
        width: 40px;
    }
}